body {
	font-size: 14px;
	line-height: normal;
	color: #000000;
	font-weight: 400;
	font-family: pt-sans, sans-serif;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

